@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
html {
  box-sizing: border-box;
  font-size: 10px;
  
background-color: #f3e6e8;
background-image: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%);

}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Shadows Into Light', cursive;
}
